.download_link{
        font-size: 15px;
        margin-left: 10px;
        padding: 10px;
        font-weight:lighter;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #006eb8;
        /* background-color: #1e90ff; */
        border: 1px solid #006eb8;
        border-radius: 5px;
        transition: all 455ms ease-out;
}

.download_link:hover{
    font-size: 15px;
    margin-left: 10px;
    padding: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* background-color:#0f52ba; */
    /* background-color:#1e90ff; */
    background-color:#006eb8;
    color: white;
    border-radius: 5px;
}