.notice_container{
    align-items: center;
    /* height: 350px; */
    max-width: 700px;
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    background-color:white;
    transition: all 455ms;
    box-shadow: 0px 0px 1px 1px rgb(216, 214, 214); 
}

.notice_container:hover{
    box-shadow: 0px 0px 2px 2px rgb(216, 214, 214);
}


.notice_subject{
    color:#006eb8;

    margin: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;

    font-family:Arial, Helvetica, sans-serif;
    line-height: 2em;
    text-align: left;
    border-bottom: 5px #006eb8 solid;
  }

  .notice_content{
    margin: 15px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-align: justify;
  }

  .notice_owner{
    margin-top: 30px;
    color: #16A085;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    align-items: center;
    text-align: right;
    font-weight: bold;
  }

  .link_readmore{
    color: #006eb8;
    border: solid 1px rgb(216, 214, 214);
    /* box-shadow: 0px 0px 1px 1px rgb(216, 214, 214); */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 455ms;
  }

  .link_readmore:hover{
    color: white;
    background-color: #006eb8;
    border: solid 1px #006eb8;
    /* box-shadow: 0px 0px 3px 3px #006eb8; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-decoration: none;
  }