.app_header{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.app_logo{
  flex: 0.2;
  margin-top: -55px;
}

.logo_image{
  position: fixed;
  left: 0px;
  max-width: 150px;
  object-fit: contain;
  padding-top: 0px;
}

.app_menu{
    flex:0.8;
    /* margin-right: 0px; */
    margin-top: 5px;
}

@media (max-width:550px) {
    .app_header{
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      height: 200px;
    }

    /* .app_logo{
        flex: 1.0;
        margin-top: 0px;
        width: 100%;
        text-align: center;
      } */

      .logo_image{
        /* position: fixed; */
        /* left: 0px; */
        width: 100%;
        object-fit: contain;
        padding-top: 0px;
        align-items: center;
      }
      
      .app_menu{
          flex:1.0;
          /* margin-right: 0px; */
          margin-top: 15px;
          width: 100%;
          text-align: center;
      }

      a{
        margin-left: 10px;
        font-family: Helvetica, sans-serif;
        text-decoration: none;
        color: #006eb8;
        padding: 5px;
    
        transition: all 455ms ease-out;
    }
    
    a:hover{
        font-size: 10px;
        margin-left: 5px;
        /* font-weight: lighter; */
        font-family: Helvetica, sans-serif;
        text-decoration: none;
        background-color:#006eb8;
        color: white;
        border-radius: 5px;
        padding: 5px;
    }
  }
  
  @media (max-width:768px) {
    .app_header{
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      height: 100px;
    }

    /* .app_logo{
        flex: 1.0;
        margin-top: 0px;
        width: 100%;
        align-items: center;
      } */

      .logo_image{
        /* position: fixed; */
        /* left: 0px; */
        width: 100%;
        object-fit: contain;
        padding-top: 0px;
        align-items: center;
      }
      
      .app_menu{
          flex:1.0;
          /* margin-right: 0px; */
          margin-top: 15px;
          width: 100%;
          text-align: center;
      }

      a{
        margin-left: 12px;
        font-family: Helvetica, sans-serif;
        text-decoration: none;
        color: #006eb8;
        padding: 5px;
    
        transition: all 455ms ease-out;
    }
    
    a:hover{
        font-size: 12px;
        margin-left: 5px;
        /* font-weight: lighter; */
        font-family: Helvetica, sans-serif;
        text-decoration: none;
        background-color:#006eb8;
        color: white;
        border-radius: 5px;
        padding: 5px;
    }
  }
  
  @media (min-width:992px) {
    .app_header{
      display: flex;
      flex-direction: row;
    }
  }

ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 90px; ;
}

a{
    font-size: 15px;
    margin-left: 10px;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #006eb8;
    padding: 15px;

    transition: all 455ms ease-out;
}

a:hover{
    font-size: 15px;
    margin-left: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color:#006eb8;
    color: white;
    border-radius: 5px;
    padding: 15px;
}